@primary-color: #F8DF1F;
@text-color: #050500;
@span-text: #EE252F;
@light-gray:#F3F3F3;
@image-background: #3B3838;
@footer: #080801;

@space: 12px;
@double-space: 24px;

.button{
    background-color: @primary-color;
    color: @text-color;
    border-radius: 8px;
    border: none;
    padding: 20px 30px;
    text-align: center;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 500;
  }
  
.container{
  display: flex;
  align-items: center;
  flex-flow: row wrap;
  padding: 2% 33%;
}